<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gestionordenes.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vistas.operario.OperarioActivity"
            android:label="@string/title_activity_operario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vistas.admin.AdminActivity"
            android:label="@string/title_activity_admin" />
        <activity
            android:name=".vistas.operario.brigada.BrigadaActivity"
            android:label="@string/title_activity_brigada_form"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vistas.operario.brigada.BrigadaListado"
            android:label="@string/title_activity_brigada"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vistas.operario.totalizadores.TotalizadoresActivity"
            android:label="@string/title_activity_totalizador_form"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vistas.operario.totalizadores.TotalizadorListado"
            android:label="@string/title_activity_totalizador"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vistas.operario.novedad.NovedadActivity"
            android:label="@string/title_activity_novedad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vistas.operario.novedad.NovedadListado"
            android:label="@string/title_activity_novedad_form"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vistas.operario.censo.CensoActivity"
            android:label="@string/title_activity_censo_form"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vistas.operario.censo.CensoListado"
            android:label="@string/title_activity_censo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vistas.operario.clientes.CensosDescarga"
            android:label="@string/title_activity_descarga_censos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vistas.operario.clientes.MenuClientes"
            android:label="@string/title_activity_menu_clientes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vistas.operario.clientes.ActualizarCliente"
            android:label="@string/title_activity_actualizar_clientes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vistas.operario.censo.ActivityDetalleCenso"
            android:label="@string/title_activity_detalle_censo"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".vistas.operario.clientes.Firma"
            android:label="@string/title_activity_firma"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>